---
repo-id: 'sharedmodules'
password: <%= Puppet::Parser::Functions.function('trocla');'' %><%= scope.function_trocla('kgb_client','plain') %>
timeout: 7
status-dir: '/var/run/kgb-client'
servers:
 - uri: http://127.0.0.1:9999/
   password: <%= Puppet::Parser::Functions.function('trocla');'' %><%= scope.function_trocla('kgb_bot','plain') %>

