# vim: filetype=yaml
---
soap:
  server_addr: 127.0.0.1
  server_port: 9999
  service_name: KGB
queue_limit: 150
log_file: "/var/log/kgb-bot.log"
include: "/etc/kgb-bot/kgb.conf.d"
repositories:
  # just a name to identify it
  sharedmodules:
    # needs to be the same on the client
    password: <%= Puppet::Parser::Functions.function('trocla');'' %><%= scope.function_trocla('kgb_bot','plain') %>
# Some witty answer for people that talk to the bot
#smart_answers:
#  - "I wont speak with you!"
#  - "Do not disturb!"
#  - "Leave me alone, I am buzy!"
# Admins are allowed some special !commands (currently only !version)
#admins:
#  - some!irc@mask
#  - some!other@host
networks:
  indymedia:
    nick: KGB
    ircname: KGB bot
    username: kgb
    password: ~
    nickserv_password: <%= Puppet::Parser::Functions.function('trocla');'' %><%= scope.function_trocla('kgb_bot_nickserv','plain') %>
    server: irc.indymedia.org
    port: 6667
channels:
  - name: '#puppet'
    network: indymedia
    repos:
      - sharedmodules
    # Can also be set per-channel
    smart_answers:
      - "I'm in ur channel, watching ur commits!"
    #  - "I am not listening"
    #  - "Shut up! I am buzy watching you."
pid_dir: /var/run/kgb-bot
# anything less is rejected
min_protocol_ver: 1
# default colors:
colors:
 repository: bold
 revision: bold
 author: green
 branch: brown
 module: purple
 path: teal
 addition: green
 modification: teal
 deletion: "bold red"
 replacement: reverse
 prop_change: underline
 web: silver
# you can combine them like "bold red" (ouch!)
# available colors: black, navy, green, red, brown, purple, orange, yellow,
#  lime, teal, aqua, blue, fuchsia, gray, silver, white
# availablel modifiers: bold underline reverse
