<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
 <head>
<title>labs.riseup.net</title>
 </head>

<BODY TEXT="#ffffff" BGCOLOR="#000000" LINK="#ffffff" VLINK="#ffffff" ALINK="#ffffff">
<img src='beakers.jpg'>

<blockquote>
<p><a href='/code'>labs.riseup.net/code</a></p>
<p><a href='https://we.riseup.net'>we.riseup.net</a></p>
</blockquote>

</BODY>
</HTML>
