html {
    margin:0;
    padding:0;
    color:#000;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color:  #716767;
    margin: 0;
    padding: 0;
    border: 0px solid green;
    background-image: url(images/graph_lighter.gif);
}
#container {
    margin: 0 auto;
    width: 800px;
    background:#fff;
    background-image: url(images/graph.gif);
}
#header {
    background:#fff;
    padding:0px 0px;
    margin: 40px 0 0 5px;
    background-image: url(images/graph.gif);
}
@font-face {
    font-family: 'Josefin Sans Std Light';
    font-style: normal;
    font-weight: normal;
    src: local('Josefin Sans Std Light'), url('http://riseuplabs.org/jssl.ttf') format('truetype');
}
h1 { 
    margin:0;
    font-family:'Josefin Sans Std Light',arial, serif; 
    font-size: 22px;
    margin: 0 0 5px 0;
    font-weight: normal;
    color: #333333;
}

a img {border:none;}

/* Main Nav */
#nav {
    margin: 25px 0 60px 0;
    padding: 0px 0px 0px 5px;
    border-top: 1px dotted grey;
    width: 783px;
}
#nav a {
    color: #cc0000;
    padding: 1px 2px 0 2px;
    text-decoration: none;
}
#nav a:hover,
#nav a.active {
    color: #fff;
    background-color: #cc0000;
    padding: 2px 2px 2px 2px;
}
#nav ul {
    margin: 2px 0 0px 0px;
    padding: 0;
    color: #999;
}
#nav li {
    margin: 0 10px 0 0;
    padding: 0px 0 0 0px;
    display: inline;
    font-family: helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}
#nav li.email {
    margin: 0 10px 0 300px;
    padding: 0px 0 0 0px;
    text-transform: lowercase;
}
#nav li.website {
    margin: 0 0px 0 40px;
    padding: 0px 0 0 0px;
    text-transform: lowercase;
}


/* Content */
#content {
    clear: left;
    padding: 0px;
    width: 100%;
}
#content_section  {
    overflow: hidden;
    width: 100%;
    border: solid 0px;
    margin: 40px 0 0 20px;
}
#content_right {
    margin:0 180px 0 0;
    width:530px;
    float:right;
    xborder: 1px solid black;
}
#content_right a {
    color: #716767;
    padding: 1px 2px 0 2px;
    font-style: italic;
    text-decoration: none;
}
#content_right a:hover,
#content_right a.active {
    color: brown;
    text-decoration: underline;
    padding: 2px 2px 2px 2px;
}
#content_left {
    width: 70px; 
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    xborder: 1px solid black;
}

/* Line and Top */
#line {
    border-bottom: 1px dotted grey;
    margin:80px 0 0 0;
}
#top{
    margin: 5px 0 0 740px;
    font-family: helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}
#top a {
    color: #cc0000;
    text-decoration: none;
}
#top a:hover,
#top a.active {
    color: #fff;
    background-color: #cc0000;
    padding: 2px 2px 2px 2px;
}

/* About */
#about_section{
    overflow: hidden;
    width: 100%;
    margin: 20px 0 0 5px;
}
#about_section a:hover,
#about_section a:active, 
#about_section a:visited,
#about_section a {
    color: #fff;
    background-color: #fff;
    padding: 0;
}


/* Footer */
#footer{
    overflow: hidden;
    width: 100%;
    border-top: dotted 1px grey;
    margin: 80px 0 50px 0;
    padding: 10px 0 0 0;
    color:#cccccc;
    font-size: 12px;
}


